@(message: String)

@main("Home - Kidenere") {
	<!--  
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Kidenere</a>
        </div>
      </div>
    </div>
    -->
    <div class="container">
    	<div class="row ">
    		<img class="col-md-6 col-md-offset-3" src="@routes.Assets.at("images/kidenerelogo.jpg")" alt="Kidenere Logo">
    	</div>
    </div>
    
    <div class="container">
	    <div class="row">
	    	<h4 class="col-md-3 col-md-offset-5">Fulfilling dialywishes!</h4>
	    </div>
    </div>
    
    
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Learn</h2>
          <p>What have you always wanted to learn? We can make it happen.</p>
          <p><a class="btn btn-default" role="button">More &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Work</h2>
          <p>Want a job that you can do while on dialysis?</p>
          <p><a class="btn btn-default" role="button">More &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Volunteer</h2>
          <p>Have an organization you want to dedicate treatment time to?</p>
          <p><a class="btn btn-default" role="button">More &raquo;</a></p>
        </div>
      </div>
      <br><br>
      
      <!-- tabs portion -->
      <div class="container">
      	<div class="row">
	      	<ul class="nav nav-tabs">
	      	  <li class="active col-md-3"><a href="#aboutus" data-toggle="tab">About Us</a></li>
			  <li class="col-md-3"><a href="#community" data-toggle="tab">Community</a></li>
			  <li class="col-md-3"><a href="#resources" data-toggle="tab">Resources</a></li>
			  <li class="col-md-3"><a href="#geninfo" data-toggle="tab">General Info</a></li>
			</ul>
		</div>
		<div class="row">
			<!-- Tab panes -->
			<div class="tab-content">
			<div class="tab-pane active col-md-12" id="aboutus">
			<p class="col-md-4">
			Kidenere is dedicated to alleviating the mental burden associated with
			 dialysis by utilizing treatment time 
			 to help patients pursue an interest or skill they have always
			  wanted to develop as well as create a positive, active
			   learning environment across dialysis centers to promote good mental health
			   </p>
			   <div class="col-md-2"><img src="@routes.Assets.at("images/katbetter.jpg")" alt="Katrina pic"><br><strong>Katrina Rios</strong> <br> Johns Hopkins University '15 </div>
			   <div class="col-md-2"><img src="@routes.Assets.at("images/jonbetter.jpg")" alt="Jonathan pic"><br> <strong>Jonathan Rivera</strong>  <br> Johns Hopkins University '15 </div>
			   <div class="col-md-2"><img src="@routes.Assets.at("images/betterstef.jpg")" alt="Katrina pic"><br><strong>Stephanie Huie</strong>  <br> Johns Hopkins University '15 </div>
			   
			   </div>
			 
			  <div class="tab-pane" id="community">
			  	Connect with patients from your dialysis center or others in the area. <br><br>
			  	What skill are you learning?<br>
				How are you liking your volunteer work? <br>
				Do you find your new job enjoyable? <br>
			  </div>
			   <div class="tab-pane col-md-6" id="resources">
			  	Enjoy speaking on the phone and want to connect with fellow dialysis patients from around the country?<br>
			  	 Check out <a href="http://kidney.org/patients/peers/index.cfm">http://kidney.org/patients/peers/index.cfm</a><br><br>
				Want to see what's happening around Baltimore this weekend?<br> Check out <a href="http://weekly.citypaper.com">http://weekly.citypaper.com</a> <br><br>
				Do you want to just have some quiet, meditative time with peaceful background music? <br> Check out <a href="http://thequietplaceproject.com/thequietplace">http://thequietplaceproject.com/thequietplace</a>
			  </div>
			  <div class="tab-pane" id="geninfo"></div>
			</div>			
		</div>
	  </div>
	  <br><br>
	  
	  <!-- twitter button -->
	  <a href="https://twitter.com/Kidenere" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @@Kidenere</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
}
